<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

    <add name="db_origen" connectionString="Data Source=200.33.34.9;Initial Catalog=Simapag_09_01_2016;User ID=usrsimapag;Password=2017C0nt3l" providerName="System.Data.SqlClient"/>
    <add name="db_destino" connectionString="Data Source=200.33.34.9;Initial Catalog=Simapag_20161015;User ID=usrsimapag;Password=2017C0nt3l" providerName="System.Data.SqlClient"/>

    <!--formulario de credito y cobranza-->
    <add name="Credito_Cobranza_BDContel" connectionString="Data Source=200.33.34.9;Initial Catalog=SIMAPAG_20161230;User ID=usrsimapag;Password=2017C0nt3l" providerName="System.Data.SqlClient"/>
    <add name="Credito_Cobranza_BDSimapag" connectionString="Data Source=200.33.34.9;Initial Catalog=Simapag_09_01_2016;User ID=usrsimapag;Password=2017C0nt3l" providerName="System.Data.SqlClient"/>
    <add name="Credito_Cobranza_Ajuste_Saldos" connectionString="Data Source=200.33.34.9;Initial Catalog=SIMAPAG_20161230;User ID=usrsimapag;Password=2017C0nt3l" providerName="System.Data.SqlClient"/>
    <add name="Credito_Cobranza_Ajuste_Final" connectionString="Data Source=132.147.64.208;Initial Catalog=Simapag;User ID=dbcajas;Password=TellerMachine01" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>


  <!--<configSections>
  </configSections>-->

  
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsHttpBindingConfig"
           closeTimeout="48:00:00">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>-->
</configuration>